{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "max-len": [1, 120, { "tabWidth": 2, "ignoreComments": true }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
}
